<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste der Stellungen</title>
    <link href="/img/favicon.ico" rel="icon">
    <link href="/css/design.css" rel="stylesheet" type="text/css">
    <link href="/css/chessboard.css" rel="stylesheet" type="text/css">
    <link href="/css/listpositions.css" rel="stylesheet" type="text/css">
</head>
<body>
<%- include("includes/header.ejs") %>
<%- include("includes/nav.ejs") %>
<main>
    <section>
        <h1>Was ist eine Stellung im Schach?</h1>
        <p>
            Eine Stellung im Schach beschreibt eine legale Positions einer Schachpartie.
            Legal bedeutet, dass folgende Regeln eingehalten werden müssen:
        </p>
        <ul>
            <li>Beider Farben haben genau einen König, die Könige haben mindestens ein Feld zwischen ihnen</li>
            <li>Beide Farben haben höchstens 8 Bauern, es stehen keine Bauern auf der ersten und achten Reihe</li>
            <li>Beide Farben haben höchstens 10 Springer, Läufer oder Türme</li>
            <li>Beide Farben haben höchstens 9 Damen</li>
            <li>Insgesamt darf es nicht mehr als 16 Figuren pro Farbe geben</li>
            <li>Beide Könige können nicht gleichzeitig im Schach stehen</li>
            <li>In einer Stellung ist immer eine Farbe am Zug</li>
        </ul>
        <p>
            <b>Jede Stellung hat immer eine Wertung, diese besagt, wie gut man in einer Stellung steht.</b>
        </p>
    </section>
    <section>
        <h2>Beispielhafte Stellungen</h2>
        <div id="positions">
            <% for(let i=0;i<positions.length;i++) { %>
            <a href="/positions/position<%=i%>">
                <%- include("includes/chessboard.ejs",{position:positions[i]})%>
            </a>
            <% } %>
        </div>
        <h2>Eigene Stellung</h2>
        <b>Hier können Sie Ihre eigenen Stellungen hinzufügen und analysieren</b>
        <button>Neue Stellung aufbauen</button>
    </section>
</main>
<%- include("includes/aside.ejs") %>
<%- include("includes/footer.ejs") %>
</body>
</html>
