<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Position</title>
    <link href="/img/favicon.ico" rel="icon">
    <link href="/css/design.css" rel="stylesheet" type="text/css">
    <link href="/css/chessboard.css" rel="stylesheet" type="text/css">
    <link href="/css/opening.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <%- include("includes/header.ejs") %>
        <%- include("includes/nav.ejs") %>
        <main>
            <section>
                <h1><%= opening.getName(); %></h1>
                <p><u>ECO-Schlüssel:</u> <%=opening.eco();%></p>
                <p><u>Beschreibung:</u> <%=opening.getDesc();%></p>
                <p><u>Geht hervor aus:</u> <%=opening.getParent();%></p>
                <p><u>Zugabfolge:</u>
                    <ol>
                        <% for (let i = 0; i <= opening.getMoves().length / 2; i++) { %>
                            <li>
                                <%=opening.getMoves()[i*2];%>
                                <%=opening.getMoves()[i*2+1];%>
                            </li>
                        <% } %>
                    </ol>
                </p>
                <p><u>Anschließende Variationen:</u> <%= opening.getVariations(); %></p>
            </section>
            <section>
                
            </section>
        </main>
        <%- include("includes/aside.ejs") %>
        <%- include("includes/footer.ejs") %>
    </body>
</html>