<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyse</title>
    <link href="/img/favicon.ico" rel="icon">
    <link href="/css/design.css" rel="stylesheet" type="text/css">
    <link href="/css/chessboard.css" rel="stylesheet" type="text/css">
    <link href="/css/position.css" rel="stylesheet" type="text/css">
</head>
<body>
<%- include("includes/header.ejs") %>
<%- include("includes/nav.ejs") %>
<main>
    <section>
        <h1>Stellungs-Analyse</h1>
        <%- include("includes/chessboard.ejs",{position:position}) %>
        <p><%= position.numberOfMoves() %></p>
        <p><%= position.activeColor() %></p>
        <p><%= position.countPieces() %></p>
        <p><%= position.castlingAvailability() %></p>
        <p><%= position.analysis() %></p>
    </section>
</main>
<%- include("includes/aside.ejs") %>
<%- include("includes/footer.ejs") %>
</body>
</html>
