<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste aller Räume</title>
    <link href="css/caption.css" rel="stylesheet" type="text/css">
    <link href="css/general.css" rel="stylesheet" type="text/css">
    <link href="css/formular.css" rel="stylesheet" type="text/css">
    <link href="css/flexbox.css" rel="stylesheet" type="text/css">
    <script src="js/viewportWidth.js"></script>
</head>
<body id="flexbody">
<%- include("header.ejs") %>
<nav>
    <ul>
        <li><a href="raumliste">Liste aller Räume</a></li>
        <li><a href="raumdetail">A.E.01-Details</a></li>
        <li><a href="buchungsdetail">A.E.01-Buchung</a></li>
        <li><a href="neuebuchung">Formular</a></li>
    </ul>
</nav>
<div id="sidecontainer">
    <main id="raumlistemain">
        <h2 class="info">Verfügbare Räume</h2>
        <form action="https://labs.inf.fh-dortmund.de/roomReservationService/testRoomSearch.php" method="get">
            <label for="roomno">Raumsuche: </label>
            <input id="roomno" maxlength="6" name="roomno" pattern="[A-Z]\.[E123]\.[0-9][0-9]" placeholder="Raum"
                   required
                   type="text">
            <input type="submit" value="suchen">
        </form>
        <ul>
            <% for(room of rooms) { %>
                <li><a href="raumdetail"><%= room.nummer %></a> – <%= room.bezeichnung %> – <%= room.gebaeude %></li>
            <% } %>
        </ul>
    </main>
    <%- include("aside.ejs") %>
</div>
<%- include("footer.ejs") %>
</body>
</html>